<MudDialog>
    <DialogContent>
        @if (ErrorVisible)
        {
            <MudAlert Severity="Severity.Error">@Localizer["AnErrorOccuredDuringSaving"]</MudAlert>
        }
        <div class="row">
            <div class="col-md-12">
                <EditForm Model=@UpdateCourseInputModel OnSubmit=@FormSubmitted>
                    <FluentValidationValidator DisableAssemblyScanning="true" />
                    <CustomValidation @ref="_customValidation" Localizer="Localizer" />
                    <div class="form-group">
                        <label for="CourseID">@Localizer["CourseID"]</label>
                        <div id="CourseID">
                            @UpdateCourseInputModel.CourseID
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Title">@Localizer["Title"]</label>
                        <InputText @bind-Value=@UpdateCourseInputModel.Title class="form-control" id="Title" />
                        <ValidationMessage For="() => UpdateCourseInputModel.Title" />
                    </div>
                    <div class="form-group">
                        <label for="Credits">@Localizer["Credits"]</label>
                        <InputNumber @bind-Value=UpdateCourseInputModel.Credits class="form-control" id="Credits" />
                        <ValidationMessage For="() => UpdateCourseInputModel.Credits" />
                    </div>
                    <div class="form-group">
                        <label for="Department">@Localizer["Department"]</label>
                        <MudSelect T="int" AnchorOrigin="Origin.BottomCenter" @bind-Value=UpdateCourseInputModel.DepartmentID class="form-control" id="Department">
                            @if (DepartmentsLookup != null)
                            {
                                @foreach (var department in DepartmentsLookup.Departments)
                                {
                                    <MudSelectItem Value="@department.DepartmentID">@department.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="() => UpdateCourseInputModel.DepartmentID" />
                    </div>
                    <MudButton ButtonType="ButtonType.Submit"
                               StartIcon="fas fa-save"
                               Color="Color.Primary">@Localizer["Save"]</MudButton>
                    <MudButton Color="Color.Primary" OnClick="Cancel">@Localizer["Cancel"]</MudButton>
                </EditForm>
            </div>
        </div>
    </DialogContent>
</MudDialog>